<div class="highlights-container">
    <div>
        <span class="section-title">Highlights</span>
    </div>
    <div class="highlights-columns">
        <a href="/your-target-url" class="highlight-link">
            <div class="highlights-box">
                <div class="default-content">
                    <div>
                        <img src="/images/highlight-1.png" style="height: 100px;">
                    </div>
                    <div class="highlight-title">Biodiversity indicators</div>
                </div>
                <div class="hover-content">
                    <p>Dashboards are visual interfaces that display real-time data, enabling users to monitor key metrics and make informed decisions.</p>
                    <div class="highlight-title-b">Biodiversity indicators</div>
                </div>
            </div>
        </a>
       <a href="/your-target-url" class="highlight-link">
            <div class="highlights-box">
                <div class="default-content">
                    <div>
                        <img src="/images/highlight-2.png" style="height: 100px;">
                    </div>
                    <div class="highlight-title">Gridded exports</div>
                </div>
                <div class="hover-content">
                    <p>Dashboards are visual interfaces that display real-time data, enabling users to monitor key metrics and make informed decisions.</p>
                    <div class="highlight-title-b">Gridded exports</div>
                </div>
            </div>
        </a>
        <a href="/your-target-url" class="highlight-link">
            <div class="highlights-box">
                <div class="default-content">
                    <div>
                        <img src="/images/highlight-3.png" style="height: 100px;">
                    </div>
                    <div class="highlight-title">Dashboards</div>
                </div>
                <div class="hover-content">
                    <p>Dashboards are visual interfaces that display real-time data, enabling users to monitor key metrics and make informed decisions.</p>
                    <div class="highlight-title-b">Dashboards</div>
                </div>
            </div>
        </a>
    </div>
</div>