<div class="highlights-container">
    <div>
        <span class="section-title">Newest products</span>
    </div>
    <div class="highlights-columns">
        <div class="products-box">
            <div style="display: flex;">
                <span style="background: #9ac7ff; width: 15px; display: block; margin-right: 5px;">&nbsp;</span>
                <span style="font-weight: bold;">MAP</span>
            </div>
            <div style="padding: 20px;">
                <div>
                    2024.01.01
                </div>
                <div style="font-weight: 900; font-size: 18px; padding-top: 5px; padding-bottom: 10px;">
                    Species distribution maps
                </div>
                <div>
                    As part of the Horizon Europe project "MPA Europe," which uses systematic conservation planning to map a network of MPAs representative of species, habitats, and ecosystems in Europe, the Ocean Biodiversity Information System (OBIS) has developed species distribution models (SDMs) for more than 12,000 marine species.
                </div>
            </div>
        </div>
       <div class="products-box">
            <div style="display: flex;">
                <span style="background: #7c6bdc; width: 15px; display: block; margin-right: 5px;">&nbsp;</span>
                <span style="font-weight: bold;">DERIVED DATASET</span>
            </div>
            <div style="padding: 20px;">
                <div>
                    2024.01.01
                </div>
                <div style="font-weight: 900; font-size: 18px; padding-top: 5px; padding-bottom: 10px;">
                    Time series in Costa Rica
                </div>
                <div>
                    A filtered in quality controled dataset of time-series data in Costa Rica. It contains data on fish and benthic species.
                </div>
            </div>
        </div>
    </div>
</div>