include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/newextension *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/newextension/migration *.ini *.py *.mako
