# generic
.DS_Store
.vagrant/
.idea/

# code & config
_service-provider/*
_solr/schema.xml
_src/*
local/*
.env
.github_token
.packages_token

# Ignore local git clones of CKAN plugins.
# Use bin/install_src to copy CKAN plugins to docker container for debugging.
src/