# Redirect STDOUT to /dev/null, so email is sent ONLY when an error occurs.
# m h dom mon dow command

*/10 * * * *          /srv/app/run_harvester.sh 2>&1 > /dev/null        # Every ten minutes

# Mark harvest jobs as finished at 7:55 AM every day
55 7 * * *     /srv/app/finish_jobs.sh 2>&1 > /dev/null
