{% set intro = g.site_intro_text %}

<div class="module-promotion card box">
  <div>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Welcome to AuScope Data Repository") }}</h1>
      <p>
        {% trans %} The AuScope Data Repository preserves and offers continued access to data from Australia’s geoscience community working on fundamental geoscience questions and grand challenges, including climate change, natural resources security and natural hazards. 
        {% endtrans %}
        <br>
        <br>
        </p>
      </p>
    {% endif %}
  </div>

  {% block home_image %}
    <section class="featured media-overlay hidden-xs">
      <h2 class="media-heading">{% block home_image_caption %}{{ _("This is a featured section") }}{% endblock %}</h2>
      {% block home_image_content %}
        <a class="media-image" href="#">
          <img class="img-fluid" src="{{ h.url_for_static('/base/images/placeholder-420x220.png') }}" alt="Placeholder" />
        </a>
      {% endblock %}
    </section>
  {% endblock %}
</div>
