{% extends "package/snippets/additional_info.html" %}

{% block extras %}
    <tr>
        <th scope="row" class="dataset-label">{{_("Spatial Resolution") }}</th>
        <td class="dataset-details">{{ pkg_dict.spatial_resolution }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Last Modified") }}</th>
        <td class="dataset-details">{{ pkg_dict.last_modified }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Start Time") }}</th>
        <td class="dataset-details">{{ pkg_dict.start_time }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("End Time") }}</th>
        <td class="dataset-details">{{ pkg_dict.end_time }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Docker File") }}</th>
        <td class="dataset-details">{{ pkg_dict.docker_file }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Compose File") }}</th>
        <td class="dataset-details">{{ pkg_dict.compose_file }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Docker Image") }}</th>
        <td class="dataset-details">{{ pkg_dict.docker_image }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Git Repo") }}</th>
        <td class="dataset-details">{{ pkg_dict.git_repo }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Docker Repo") }}</th>
        <td class="dataset-details">{{ pkg_dict.docker_repo }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Git Commit Hash") }}</th>
        <td class="dataset-details">{{ pkg_dict.commit_hash }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Docker Image Digest") }}</th>
        <td class="dataset-details">{{ pkg_dict.digest_hash }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Docker Command List") }}</th>
        <td class="dataset-details">{{ pkg_dict.command_list }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Composite Datasets") }}</th>
        <td class="dataset-details">{{ pkg_dict.composite_datasets }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Transposition Region Name") }}</th>
        <td class="dataset-details">{{ pkg_dict.transposition_region_name }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Transposition Region Extent (WKT)") }}</th>
        <td class="dataset-details">{{ pkg_dict.transposition_region_wkt }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Watershed Region Name") }}</th>
        <td class="dataset-details">{{ pkg_dict.watershed_region_name }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Watershed Region Extent (WKT)") }}</th>
        <td class="dataset-details">{{ pkg_dict.watershed_region_wkt }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Transposition Region Name") }}</th>
        <td class="dataset-details">{{ pkg_dict.transposition_region_name }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Transposition Region Extent (WKT)") }}</th>
        <td class="dataset-details">{{ pkg_dict.transposition_region_wkt }}</td>
    </tr>
    {% if pkg_dict.max_precipitation_point_name %}
        <tr>
            <th scope="row" class="dataset-label">{{ _("Maximum Precipitation Point Name") }}</th>
            <td class="dataset-details">{{ pkg_dict.max_precipitation_point_name }}</td>
        </tr>
    {% endif %}
    <tr>
        <th scope="row" class="dataset-label">{{_("Maximum Precipitation Point (WKT)") }}</th>
        <td class="dataset-details">{{ pkg_dict.max_precipitation_point_wkt }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Preview Image") }}</th>
        <td class="dataset-details">{{ pkg_dict.image }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Watershed Gridded Cell Size") }}</th>
        <td class="dataset-details">{{ pkg_dict.cell_count }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Mean Precipitation (in.)") }}</th>
        <td class="dataset-details">{{ pkg_dict.mean_precipitation }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Maximum Precipitation (in.)") }}</th>
        <td class="dataset-details">{{ pkg_dict.max_precipitation }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Minimum Precipitation (in.)") }}</th>
        <td class="dataset-details">{{ pkg_dict.min_precipitation }}</td>
    </tr>
    <tr>
        <th scope="row" class="dataset-label">{{_("Total Precipitation (in.)") }}</th>
        <td class="dataset-details">{{ pkg_dict.sum_precipitation }}</td>
    </tr>
    {% if pkg_dict.normalized_mean_precipitation %}
        <tr>
            <th scope="row" class="dataset-label">{{ _("Normalized Mean Precipitation (in.)") }}</th>
            <td class="dataset-details">{{ pkg_dict.normalized_mean_precipitation }}</td>
        </tr>
    {% endif %}
{% endblock %}