include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/aorc_mirror *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/aorc_mirror/migration *.ini *.py *.mako
