<footer class="govuk-footer">
    <div class="govuk-width-container">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <h2 class="govuk-visually-hidden">Items</h2>
                <ul class="govuk-footer__inline-list">
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="#1">
                            Vyhlásenie o prístupnosti
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="#2">
                            Kontakt na prevádzkovateľa
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="#3">
                            RSS
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="#4">
                            Mapa stránky
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="#5">
                            Metodické usmernenia
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="#6">
                            Oznamy
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="#7">
                            Základné zásady bezpečnosti
                        </a>
                    </li>
                </ul>
                <span class="govuk-footer__licence-description">
                    Prevádzkovateľom služby je Ministerstvo školstva SR.
                    <br />
                    Vytvorené v súlade s Jednotným dizajn manuálom elektronických služieb.
                </span>
            </div>
            <div class="govuk-footer__meta-item">
                <a class="govuk-footer__link govuk-footer__copyright-logo" href="#">
                    <img src="{{ h.url_for_static('assets/images/logo-moje.png') }}" alt="Open Data Portál" />
                </a>
            </div>
        </div>
    </div>
</footer>
