include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/auscope_theme *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/auscope_theme/migration *.ini *.py *.mako
