<div role="main">
  <div class="main hero">
    <div class="container">
      <div class="row">
        {% snippet 'home/snippets/highlights.html' %}
      </div>
    </div>
  </div>

  <div class="main-secondary">
    <div class="container">
      <div class="row">
        {% snippet 'home/snippets/products.html' %}
      </div>
    </div>
      <div class="contribution-section">
        <span style="font-weight: 900; font-size: 28px;">Want to contribute?</span>
        <div style="display: flex; gap: 20px; justify-content: center;">
            <button type="button" class="btn btn-secondary">SUBMIT A PRODUCT</button>
            <button type="button" class="btn btn-outline-secondary">REQUEST A PRODUCT</button>
        </div>
    </div>
  </div>


  
  
</div>
