include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/aorc_transposition *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/aorc_transposition/migration *.ini *.py *.mako
