<header>
  <nav class="navbar navbar-default navbar-static-top custom-header">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">
        <img src="" alt="Logo" style="height: 30px;">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Datasets</a></li>
        <li><a href="#">Organizations</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>