/* Define --main-bg-color here */
:root {
    --main-a-color: #b1b695;
    --main-a-hover-color: #cfd2bb;
    --bs-primary-rgb: 177, 182, 149 !important;
    --bs-font-sans-serif: "Noto Sans", sans-serif !important;
    --bs-body-font-family: var(--bs-font-sans-serif) !important;
    /*--bs-breadcrumb-divider: "|" !important;*/
}
.account-masthead {
    background-color: rgb(40, 40, 40) !important;
}
.masthead {
    /* background: #005d7a url(../../../base/images/bg.png); */
    background: white !important;
    padding: 0rem !important;
}
.masthead .main-navbar ul li a {
  padding: 0.6rem 0.9rem !important;
  color: var(--main-a-color) !important;
  text-decoration: none !important;
  border-color: transparent !important;
  border-bottom-style: solid;
  border-width: medium;
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.masthead .main-navbar ul li:hover a,
.masthead .main-navbar ul li:focus a,
.masthead .main-navbar ul li.active a {
    border-radius: 0px !important;
    background-color: white !important;
    color: var(--main-a-hover-color) !important;
    border-color: var(--main-a-hover-color) !important;
    border-bottom-style: solid;
    border-width: medium;
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.masthead .navbar .logo img {
    max-height: 30px !important;
}

.masthead-container-1 {
    padding: 0.5em;
    border-bottom: 1px solid #D3D3D3;
}

.masthead-container-2 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f2f3f4 !important;
    border-bottom: 1px solid #D3D3D3;
    padding-right: 20%;
    padding-left: 20%;
}




.site-search .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #333333;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.site-search  button {
    position: absolute;
    top: 5px;
    right: 20px;
    /* background-color: black !important; */
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #b1b695;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    /* padding: 0.375rem 0.75rem; */
    font-size: 1.175rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}




.site-footer {
    background: #222222 !important;
}
.site-footer p {
    color: #ffffff;
    font-size: 0.875rem;
}
.site-footer a {
    color: #ffffff !important;
    font-size: 0.875rem;
    font-weight: 800;
    text-transform: uppercase;
}
.site-footer a:hover {
    color: #b1b695 !important;
    font-size: 0.875rem;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}
.site-footer span {
    color: #ffffff !important;
    font-size: 0.875rem;
    font-weight: 800;
    text-transform: uppercase;
}
#logos img {
    height: 40px;
}
#footer-separator hr {
    /* margin: 1rem 0; */
    color: inherit;
    background-color: rgb(119 117 117);
    border: 0;
    opacity: 0.25;
    margin-bottom: 15px;
}


.super-title {
    font-weight: 900;
    color: #b1b695;
    font-size: 36px;
}


.homepage .hero {
    background: none !important;
    padding: 20px 0;
}

.section-title {
    font-weight: 900;
    color: #b1b695;
    font-size: 26px;
}
.highlights-container {
    max-width: 80% !important;
    margin-left: 10em;
    margin-right: 10em;
    display: flex;
    flex-direction: column;
}

.highlight-link {
    flex: 1;
    text-decoration: none;
    color: inherit;
    color: var(--bs-body-color);
}

.highlights-columns {
    display: flex;
    flex-wrap: wrap;              /* allow wrapping */
    gap: 20px;                    /* spacing between cards */
    justify-content: space-between;      /* center them on wider screens */
    margin-top: 20px;
}

.highlights-box {
    position: relative;
    flex: 1 1 300px;              /* grow/shrink, base width 300px */
    max-width: 100%;              /* prevents overflow */
    min-width: 250px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    transition: background-color 0.3s ease;
    cursor: pointer;
    display: flex;
    /*justify-content: center;*/
    padding: 20px;
    /*text-align: center;*/
    box-sizing: border-box;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .highlights-box {
    flex: 1 1 100%;
  }
}

.highlight-link:hover {
  color: white;
  text-decoration: none;
}

.highlight-title {
    font-weight: 900;
    color: #b1b695;
    font-size: 20px;
    margin-bottom: 10px;
}
.highlight-title-b {
    font-weight: 900;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
}

/* Hide hover content by default */
.highlights-box .hover-content {
  opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    transition: opacity 0.3s ease;
    background-color: #b1b695;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: row;
}

/* Default content shown by default */
.highlights-box .default-content {
  transition: opacity 0.3s ease;
  align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* On hover: hide default, show hover content */
.highlights-box:hover .default-content {
  opacity: 0;
}

.highlights-box:hover .hover-content {
  opacity: 1;
}

.main-secondary {
    background: #f2f3f4 !important;
    padding-bottom: 50px;
    padding-top: 30px;
}


.products-box {
    position: relative;
    flex: 1 1 300px;              /* grow/shrink, base width 300px */
    max-width: 100%;              /* prevents overflow */
    min-width: 250px;
    /*height: 200px;*/
    /*border: 1px solid #ccc;*/
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    transition: background-color 0.3s ease;
    display: flex;
    /*justify-content: center;*/
    /*padding: 20px;*/
    padding-top: 20px;
    /*text-align: center;*/
    box-sizing: border-box;
    flex-direction: column;
}

.contribution-section {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
    gap: 10px;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: none !important;
    box-shadow: none !important;
    /* border-color: #6c757d; */
    /* box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); */
}


/* Dataset */
.main {
    padding: 20px 0;
    background: white !important;
}

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.05rem) !important;
    padding-left: var(--bs-gutter-x, 0.05rem) !important; 
    margin-right: auto;
    margin-left: auto;
}

.box, .wrapper {
    background-color: #fff;
    border: 0px solid #ccc !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.module-heading {
    margin: 0;
    padding: 0.5rem 25px;
    font-size: 0.875rem;
    line-height: 1.3;
    background-color: white !important;
    border-top: 0px solid #ddd !important;
    border-bottom: 1px solid #ddd ;
}

.wrapper:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 25%;
        border-right: 0px solid #ddd !important;
        z-index: 1;
    }

.module-content {
    padding-top: 0rem !important;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
}

.toolbar .breadcrumb {
    box-shadow: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-size: 12px !important;
}