# Managed by Ansible. Values are supplied outside Git.
{% set environment_secrets = data_at_spark_secrets[item.name] %}
NGINX_HOST_BIND_ADDRESS=127.0.0.1
NGINX_SSLPORT_HOST={{ item.loopback_port }}

POSTGRES_USER=postgres
POSTGRES_PASSWORD={{ environment_secrets.postgres_password | to_json }}
POSTGRES_DB=postgres
POSTGRES_HOST=db
CKAN_DB_USER=ckandbuser
CKAN_DB_PASSWORD={{ environment_secrets.ckan_db_password | to_json }}
CKAN_DB=ckandb
DATASTORE_READONLY_USER=datastore_ro
DATASTORE_READONLY_PASSWORD={{ environment_secrets.datastore_readonly_password | to_json }}
DATASTORE_DB=datastore
CKAN_SQLALCHEMY_URL={{ environment_secrets.ckan_sqlalchemy_url | to_json }}
CKAN_DATASTORE_WRITE_URL={{ environment_secrets.ckan_datastore_write_url | to_json }}
CKAN_DATASTORE_READ_URL={{ environment_secrets.ckan_datastore_read_url | to_json }}

CKAN___BEAKER__SESSION__SECRET={{ environment_secrets.beaker_session_secret | to_json }}
CKAN___API_TOKEN__JWT__ENCODE__SECRET={{ ('string:' ~ environment_secrets.api_token_jwt_encode_secret) | to_json }}
CKAN___API_TOKEN__JWT__DECODE__SECRET={{ ('string:' ~ environment_secrets.api_token_jwt_decode_secret) | to_json }}
CKAN_SYSADMIN_NAME=ckan_admin
CKAN_SYSADMIN_PASSWORD={{ environment_secrets.sysadmin_password | to_json }}
CKAN_SYSADMIN_EMAIL=admin@{{ item.site_hostname }}
CKAN_STORAGE_PATH=/var/lib/ckan
CKAN_SMTP_SERVER={{ data_at_spark_smtp_server | default('localhost:25') | to_json }}
CKAN_SMTP_STARTTLS=True
CKAN_SMTP_USER={{ data_at_spark_smtp_user | default('') | to_json }}
CKAN_SMTP_PASSWORD={{ environment_secrets.smtp_password | to_json }}
CKAN_SMTP_MAIL_FROM={{ data_at_spark_smtp_mail_from | default('catalog@' ~ item.site_hostname) | to_json }}
CKAN_MAX_UPLOAD_SIZE_MB=100
TZ=UTC

SOLR_IMAGE_VERSION=2.11-solr9
CKAN_SOLR_URL=http://solr:8983/solr/ckan
REDIS_VERSION=6
CKAN_REDIS_URL=redis://redis:6379/1
DATAPUSHER_VERSION=0.0.21
CKAN_DATAPUSHER_URL=http://datapusher:8800
CKAN__DATAPUSHER__CALLBACK_URL_BASE=http://ckan:5000
NGINX_PORT=80
NGINX_SSLPORT=443
