include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/aorc_composite *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/aorc_composite/migration *.ini *.py *.mako
