<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div>
          <div>
            <div>
              <h3>Contact Us</h3>
              <p><strong>Phone</strong>+613 8344 8351<br><strong>Email </strong><a href="mailto:info@auscope.org.au?subject=WEBSITE%20ENQUIRY">info@auscope.org.au</a></p>
              <p><strong>Physical &amp; Mail Address<br></strong>AuScope<br>Wurundjeri Country<strong><br></strong>Melbourne Connect Co-working<br>Level 2, 700 Swanston Street<br>Carlton VIC 3053</p>
            </div>
          </div>
          <hr>
        </div>
      </div>

      <div class="col-md-4">
        <div>
          <div>
            <div>
              <h3>Funding</h3>
              <p>AuScope is funded by the Australian Government through the National Collaborative Research Infrastructure Strategy, NCRIS. Learn more about <a href="https://www.education.gov.au/national-collaborative-research-infrastructure-strategy-ncris" target="_blank">NCRIS</a>, and <a href="https://www.auscope.org.au/ncris" target="_blank">AuScope’s part in it</a>.</p>
              <img class="footerBlocksTop" src="base/images/auscope_ncris@2x.png" alt="AuScope NCRIS">
            </div>
          </div>
          <hr>
        </div>
      </div>

      <div class="col-md-4">
        <div>
          <div>
            <div>
              <h3>Community</h3>
              <p>
                <a href="http://103.68.164.121/NCRIS/login.aspx?Program=NCRIS2023" target="_blank" >NCRIS 2023 reporting</a>
                <br>
                <a href="http://103.68.164.121/NCRIS/login.aspx?Program=NCRIS2022" target="_blank" >NCRIS 2022 reporting</a>
                <br>
                <a href="http://103.68.164.121/NCRIS/login.aspx?Program=NCRIS2020" target="_blank" >NCRIS 2020 reporting</a>
              </p>
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
              <p>Join us on social media:</p>
              <nav class="social-icons-list">
                <a class="social-media-link" href="https://twitter.com/AuScope" target="_blank" aria-label="Twitter">
                  <i class="fab fa-twitter"></i>
                </a>
                <a class="social-media-link" href="https://www.instagram.com/auscopetoolkit/" target="_blank" aria-label="Instagram">
                  <i class="fab fa-instagram"></i>
                </a>
                <a class="social-media-link" href="https://au.linkedin.com/company/auscope-limited" target="_blank" aria-label="LinkedIn">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </nav>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div>
          <div>
            <div>
              <p>
                <em>
                  We acknowledge the Traditional Custodians of the lands on which our research infrastructure and teams are based around the nation, and pay our respects to their Elders past, present and emerging.
                </em>
              </p>       
              <p>
                <em>© AuScope Limited 2019    |    All rights reserved</em>
              </p>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</footer>
