DATA_AT_SPARK_CKAN_VERSION=2.11.5
DATA_AT_SPARK_SOLR_VERSION=2.11-solr9
DATA_AT_SPARK_EXTENSION_COMMIT=6b040acc1b4048ac9c2f2b4941943f2617ee3bd7
DATA_AT_SPARK_S3FILESTORE_COMMIT=e972ae3c36489dcfc716f75063ac64c13cde1146

DATA_AT_SPARK_SITE_TITLE=Data@Spark
DATA_AT_SPARK_SITE_DESCRIPTION=Spark's public data catalog
DATA_AT_SPARK_SITE_URL=https://data.buspark.io

DATA_AT_SPARK_CKAN_PLUGINS=image_view text_view datatables_view datastore datapusher envvars spark
