DATA_AT_SPARK_CKAN_VERSION=2.11.5
DATA_AT_SPARK_SOLR_VERSION=2.11-solr9
DATA_AT_SPARK_EXTENSION_COMMIT=aa47e11d0b174368152df919e1102ca873629768

DATA_AT_SPARK_SITE_TITLE=Data@Spark
DATA_AT_SPARK_SITE_DESCRIPTION=Spark's public data catalog
DATA_AT_SPARK_SITE_URL=https://data.buspark.io

DATA_AT_SPARK_CKAN_PLUGINS=image_view text_view datatables_view datastore datapusher envvars spark
